
<header>
  <div class="container">
    <nav>
      <a href="#" class="logo">Flesk <span>GRH</span> .</a>
      <ul class="nav-links">
          <li><a routerLink="/">Accueil</a></li>
          <li><a routerLink="/features">Fonctionnalités</a></li>
          <li><a routerLink="/contact">Contact</a></li>
          <li><a class="btn-login" routerLink="/login">Connexion</a></li>
      </ul>
    </nav>
  </div>
</header>
<!-- Hero Section -->
<section class="hero">
  <div class="container">
    <div class="hero-content">
      <div class="experience-badge">LA MEILLEURE EXPÉRIENCE RH</div>
      <h1>Gestion RH <span class="rotating-text">{{ displayText }}</span></h1>
      <!-- Suppression du fallback adjectives[0] -->
      <p class="value-proposition">Gagnez du temps et réduisez les erreurs 
        avec notre solution qui automatise le pointage, la gestion des absences et la documentation légale, 
        boostant votre productivité RH tout en garantissant la conformité.</p>
      <div class="hero-buttons">
        <a class="btn">Get Started</a>
        <a class="btn btn-outline">Watch Video</a>
      </div>
    </div>
  </div>
</section>