<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<!-- Boxicons -->
	<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
	<link href='https://unpkg.com/boxicons@2.1.4/dist/boxicons.js' rel='stylesheet'>

	<!-- My CSS -->
	<link rel="stylesheet" href="style.css">

	<title>AdminHub</title>
</head>
<body>
  <div class="container">
    <form (ngSubmit)="onSubmit()" #companyForm="ngForm">
      <h1>Ajouter Compagnie</h1>
      <!-- Nom de la compagnie -->
      <div class="input-box">
        <label for="name">Nom Compagnie:</label>
        <input
          type="text"
          id="name"
          name="name"
          [(ngModel)]="company.name"
          required
        />
      </div>
      <!-- Adresse -->
      <div class="input-box">
        <label for="address">Adresse:</label>
        <input
          type="text"
          id="address"
          name="address"
          [(ngModel)]="company.address"
          required
        />
      </div>
  
      <!-- Téléphone -->
      <div class="input-box">
        <label for="phone">Téléphone:</label>
        <input
          type="text"
          id="phone"
          name="phone"
          [(ngModel)]="company.phone"
          required
        />
      </div>
  
      <!-- Matricule fiscale -->
      <div class="input-box">
        <label for="taxId">Matricule Fiscale:</label>
        <input
          type="text"
          id="taxId"
          name="taxId"
          [(ngModel)]="company.taxId"
          required
        />
      </div>
  
      <!-- Email -->
      <div class="input-box">
        <label for="email">E-mail:</label>
        <input
          type="email"
          id="email"
          name="email"
          [(ngModel)]="company.email"
          required
        />
      </div>
  
      <!-- Mot de passe -->
      <div class="input-box">
        <label for="password">Mot de passe:</label>
        <input
          type="password"
          id="password"
          name="password"
          [(ngModel)]="company.password"
          required
        />
      </div>
  
      <!-- Logo -->
      <div class="input-box">
        <label for="logo">Logo:</label>
        <input
          type="file"
          id="logo"
          name="logo"
          (change)="onFileChange($event, 'logo')"
          accept="image/*"
        />
      </div>
  
      <!-- Signature numérique -->
      <div class="input-box">
        <label for="signature">Signature numérique:</label>
        <input
          type="file"
          id="signature"
          name="signature"
          (change)="onFileChange($event, 'signature')"
          accept="image/*"
        />
      </div>
  
      <!-- Bouton de soumission -->
      <button class = "btn"type="submit" [disabled]="!companyForm.form.valid">
        Ajouter Compagnie
      </button>
    </form>
  </div>
</body>
