<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
  <title>AdminHub</title>
</head>
<body>
  <app-shared-sidebar></app-shared-sidebar>
  <section id="content">
    <app-shared-navbar></app-shared-navbar>

    <!-- MAIN -->
    <main>
      <div class="head-title">
        <div class="left">
          <h1>Tableau de bord</h1>
          <ul class="breadcrumb">
            <li>
              <a href="#">Tableau de bord</a>
            </li>
            <li><i class='bx bx-chevron-right'></i></li>
            <li>
              <a class="active" href="users">Utilisateurs</a>
            </li>
          </ul>
        </div>
        <a href="users/add-user" class="btn-download">
          <i class='bx bx-message-square-add'></i>
          <span class="text">Ajouter Utilisateur</span>
        </a>
      </div>

      <div class="table-data">
        <div class="order">
          <!-- Afficher le tableau si la liste n'est pas vide -->
          <table *ngIf="!isEmpty; else emptyMessage">
            <thead>
              <tr>
                <th>Nom</th>
                <th>Email</th>
                <th>Rôle</th>
                <th>Compagnie</th>
				<th>QR Code</th>
				<th>Actions</th>

              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let user of users">
                <td>{{ user.name }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.role }}</td>
                <td>{{ user.company || 'N/A' }}</td>
				<td>							
					<div class="register">
					     <p>
							<a href="javascript:void(0)" (click)="generateQRCode(user._id)">
							Télécharger QR Code
							</a>
						</p>
				    </div>
				</td>

				<td>
					<!-- Bouton Modifier -->
					<button class="no-border-button"  [routerLink]="['/users/update', user._id]"  style="background: none; border: none;">
						<i class='bx bxs-message-square-edit bx-sm' style="color: #007bff;"></i>
					  </button>
				  
					<!-- Bouton Supprimer -->
					<button class="no-border-button" (click)="deleteUser(user._id)"  style="background: none; border: none;">
					  <i class='bx bxs-trash-alt bx-sm' style="color: #007bff;"></i>
					</button>
				  
				</td>
              </tr>
            </tbody>
          </table>

          <!-- Afficher un message si la liste est vide -->
          <ng-template #emptyMessage>
            <div class="empty-message">
              <p>Aucun utilisateur trouvé.</p>
            </div>
          </ng-template>

          <div class="pagination">
            <button
              *ngFor="let page of getPages()"
              (click)="onPageChange(page)"
              [class.active]="page === currentPage"
            >
              {{ page }}
            </button>
          </div>
        </div>
      </div>
    </main>
    <!-- MAIN -->
  </section>
  <!-- CONTENT -->
</body>
</html>