<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
  <title>AdminHub</title>
</head>
<body>
  <app-shared-sidebar></app-shared-sidebar>
  <section id="content">
    <app-shared-navbar></app-shared-navbar>

    <!-- MAIN -->
    <main>
      <div class="head-title">
        <div class="left">
          <h1>Dashboard</h1>
          <ul class="breadcrumb">
            <li>
              <a href="#">Tableau de bord</a>
            </li>
            <li><i class='bx bx-chevron-right'></i></li>
            <li>
              <a class="active" href="users">Utilisateurs</a>
            </li>
          </ul>
        </div>
        <a href="users/add-user" class="btn-download">
          <i class='bx bx-message-square-add'></i>
          <span class="text">Ajouter Utilisateur</span>
        </a>
      </div>

      <div class="table-data">
        <div class="order">
          <!-- Afficher le tableau si la liste n'est pas vide -->
          <table *ngIf="!isEmpty; else emptyMessage">
            <thead>
              <tr>
                <th>Nom</th>
                <th>Email</th>
                <th>Rôle</th>
                <th>Compagnie</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let user of users">
                <td>{{ user.name }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.role }}</td>
                <td>{{ user.company || 'N/A' }}</td>
              </tr>
            </tbody>
          </table>

          <!-- Afficher un message si la liste est vide -->
          <ng-template #emptyMessage>
            <div class="empty-message">
              <p>Aucun utilisateur trouvé.</p>
            </div>
          </ng-template>
        </div>
      </div>
    </main>
    <!-- MAIN -->
  </section>
  <!-- CONTENT -->
</body>
</html>