<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<!-- Boxicons -->
	<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
	<link href='https://unpkg.com/boxicons@2.1.4/dist/boxicons.js' rel='stylesheet'>

	<!-- My CSS -->

	<title>AdminHub</title>
</head>
<body>
	<!-- SIDEBAR -->
	<section id="sidebar">
		<a  class="brand">
			<i class='bx bxs-smile  bx-lg'></i>
			<span class="text">SuperAdmin</span>
		</a>
		<ul class="side-menu top">
			<li >
				<a routerLink="/superadmin-dashboard">
					<i class='bx bxs-dashboard bx-sm' ></i>
					<span class="text">Tableau de bord</span>
				</a>
			</li>
			<li class="active">
				<a routerLink="/compagnies">
					<i class='bx bxs-shopping-bag-alt bx-sm' ></i>
					<span class="text">Compagnies</span>
				</a>
			</li>


		</ul>
		<ul class="side-menu bottom">
			<li [class.active]="currentRoute === '/profil'">
				<a routerLink="/profil">
					<i class='bx bxs-cog bx-sm bx-spin-hover' ></i>
					<span class="text">Paramètres</span>
				</a>
			</li>
			<li [class.active]="currentRoute === '#'">
				<a routerLink="#" class="logout">
					<i class='bx bx-power-off bx-sm bx-burst-hover' ></i>
					<span class="text">Déconnexion</span>
				</a>
			</li>
		</ul>
	</section>
	<!-- SIDEBAR -->



	<!-- CONTENT -->
	<section id="content">
		<!-- NAVBAR -->
<nav>
    <i class='bx bx-menu bx-sm' ></i>
    <a class="nav-link">Compagnies</a>
    <form action="#">
        <div class="form-input">
            <input type="search" placeholder="Recherche...">
            <button type="submit" class="search-btn"><i class='bx bx-search' ></i></button>
        </div>
    </form>
    <input type="checkbox" class="checkbox" id="switch-mode" hidden />
    <label class="swith-lm" for="switch-mode">
        <i class="bx bxs-moon"></i>
        <i class="bx bx-sun"></i>
        <div class="ball"></div>
    </label>

    <!-- Notification Bell -->
	<a href="javascript:void(0)" class="notification" id="notificationIcon">
		<i class='bx bxs-bell bx-tada-hover'></i>
	</a>


    <!-- Profile Menu -->
	<a href="javascript:void(0)" class="profile" id="profileIcon">
        <img src="https://cdn-icons-png.freepik.com/512/4159/4159471.png" alt="Profile">
    </a>
    <div class="profile-menu" id="profileMenu">
        <ul>
            <li><a routerLink="/profil">Paramètres</a></li>
            <li><a href="#">Déconnexion</a></li>
        </ul>
    </div>
</nav>
<!-- NAVBAR -->


		<!-- MAIN -->
		<main>
			<div class="head-title">
			  <div class="left">
				<h1>Tableau de bord</h1>
				<ul class="breadcrumb">
				  <li>
					<a href="#">Tableau de bord</a>
				  </li>
				  <li><i class='bx bx-chevron-right'></i></li>
				  <li>
					<a class="active" href="compagnies">Compagnies</a>
				  </li>
				</ul>
			  </div>
			  <a routerLink="/add-company" class="btn-download">
				<i class='bx bx-message-square-add'></i>
				<span class="text">Ajouter Compagnie</span>
			  </a>
			</div>
		  
			<div class="table-data">
			  <div class="order">
				<table>
				  <thead>
					<tr>
					  <th>Logo</th>
					  <th>Nom</th>
					  <th>Adresse</th>
					  <th>Téléphone</th>
					  <th>Immatricule fiscale</th>
					  <th>Email</th>
					  <th>Signature</th>
					  <th>Actions</th>
					</tr>
				  </thead>
				  <tbody>
					<tr *ngFor="let company of companies">
					  <td>
						<img *ngIf="company.logo" [src]="company.logo" alt="Logo de la compagnie" width="100" class="company-logo">
					  </td>
					  <td>{{ company.name }}</td>
					  <td>{{ company.address }}</td>
					  <td>{{ company.phone }}</td>
					  <td>{{ company.taxId }}</td>
					  <td>{{ company.email }}</td>
					  <td>
						<img *ngIf="company.signature" [src]="company.signature" alt="Signature" width="100" class="company-signature">
						<td>
							<!-- Bouton Modifier -->
							<button class="no-border-button" [routerLink]="['/edit-company', company._id]" style="background: none; border: none;">
								<i class='bx bxs-message-square-edit bx-sm' style="color: #007bff;"></i>
							  </button>
						  
							<!-- Bouton Supprimer -->
							<button class="no-border-button"  (click)="deleteCompany(company._id)" style="background: none; border: none;">
							  <i class='bx bxs-trash-alt bx-sm' style="color: #007bff;"></i>
							</button>
						  
					    </td>
					</tr>
				  </tbody>
				</table>

				<div class="pagination">
					<button
					  *ngFor="let page of getPages()"
					  (click)="onPageChange(page)"
					  [class.active]="page === currentPage"
					>
					  {{ page }}
					</button>
				</div>
				
			  </div>
			</div>
		</main>
		  
		  
		<!-- MAIN -->
	</section> 
	<!-- CONTENT -->
	

	<script src="script.js"></script>
</body>
</html>