<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<!-- Boxicons -->
	<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
	<link href='https://unpkg.com/boxicons@2.1.4/dist/boxicons.js' rel='stylesheet'>

	<!-- My CSS -->

	<title>AdminHub</title>
</head>
<body>
	<!-- SIDEBAR -->
	<section id="sidebar">
		<a  class="brand">
			<i class='bx bxs-smile  bx-lg'></i>
			<span class="text">SuperAdmin</span>
		</a>
		<ul class="side-menu top">
			<li class="active">
				<a href="superadmin-dashboard">
					<i class='bx bxs-dashboard bx-sm' ></i>
					<span class="text">Tableau de bord</span>
				</a>
			</li>
			<li>
				<a href="/compagnies">
					<i class='bx bxs-shopping-bag-alt bx-sm' ></i>
					<span class="text">Compagnies</span>
				</a>
			</li>


		</ul>
		<ul class="side-menu bottom">
			<li>
				<a href="profil">
					<i class='bx bxs-cog bx-sm bx-spin-hover' ></i>
					<span class="text">Paramètres</span>
				</a>
			</li>
			<li>
				<a href="#" class="logout">
					<i class='bx bx-power-off bx-sm bx-burst-hover' ></i>
					<span class="text">Déconnexion</span>
				</a>
			</li>
		</ul>
	</section>
	<!-- SIDEBAR -->



	<!-- CONTENT -->
	<section id="content">
		<!-- NAVBAR -->
<nav>
    <i class='bx bx-menu bx-sm' ></i>
    <a class="nav-link"></a>
    <form action="#">
        <div class="form-input">
        </div>
    </form>
    <input type="checkbox" class="checkbox" id="switch-mode" hidden />
    <label class="swith-lm" for="switch-mode">
        <i class="bx bxs-moon"></i>
        <i class="bx bx-sun"></i>
        <div class="ball"></div>
    </label>

    <!-- Notification Bell -->
	<a href="javascript:void(0)" class="notification" id="notificationIcon">
		<i class='bx bxs-bell bx-tada-hover'></i>
	</a>


    <!-- Profile Menu -->
	<a href="javascript:void(0)" class="profile" id="profileIcon">
        <img src="https://cdn-icons-png.freepik.com/512/4159/4159471.png" alt="Profile">
    </a>
    <div class="profile-menu" id="profileMenu">
        <ul>
            <li><a routerLink="/profil">Paramètres</a></li>
            <li><a href="#">Déconnexion</a></li>
        </ul>
    </div>
</nav>
<!-- NAVBAR -->


		<!-- MAIN -->
		<main>
			<div class="head-title">
				<div class="left">
					<h1>Tableau de bord</h1>
					<ul class="breadcrumb">
						<li>
							<a href="superadmin-dashboard">Tableau de bord</a>
						</li>
						<li><i class='bx bx-chevron-right' ></i></li>
						<li>
							<a class="active" href="superadmin-dashboard" >Accueil</a>
						</li>
					</ul>
				</div>

			</div>

			<ul class="box-info">
				<li>
					<i class='bx bxs-calendar-check' ></i>
					<span class="text">
						<h3>{{ totalCompanies }}</h3>
						<p>Compagnies</p>
					</span>
				</li>
				<li>
					<i class='bx bxs-group' ></i>
					<span class="text">
						<h3>{{ totalEmployees }}</h3>
						<p>Employés</p>
					</span>
				</li>
				<li>
					<i class='bx bxs-group' ></i>
					<span class="text">
						<h3>{{ totalInterns }}</h3>
						<p>Stagiaires</p>
					</span>
				</li>
			</ul>
		</main>
		<!-- MAIN -->
	</section>
	<!-- CONTENT -->
	

	<script src="script.js"></script>
</body>
</html>