<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
  <title>AdminHub</title>
</head>
<body>
  <app-shared-sidebar></app-shared-sidebar>
  <section id="content">
    <app-shared-navbar></app-shared-navbar>

    <!-- MAIN -->
    <main>
      <div class="head-title">
        <div class="left">
          <h1>Tableau de bord</h1>
          <ul class="breadcrumb">
            <li>
              <a href="#">Tableau de bord</a>
            </li>
            <li><i class='bx bx-chevron-right'></i></li>
            <li>
              <a class="active" href="parametre">Paramètres</a>
            </li>
          </ul>
        </div>


      </div>

      <div class="table-data">
        <div class="order">
            <div class="container">
                <div *ngIf="company">
                    <h2>Profil de {{ company.name }}</h2>
                    <div class="input-box">
                        <label>Nom:</label>
                        <div class="input-container">
                            <p>{{ company.name }}</p>
                        </div>
                    </div>
                    <div class="input-box">
                        <label>Adresse:</label>
                        <div class="input-container">
                            <p>{{ company.address }}</p>
                        </div>
                    </div>
                    <div class="input-box">
                        <label>Téléphone:</label>
                        <div class="input-container">
                            <p>{{ company.phone }}</p>
                        </div>
                    </div>
                    <div class="input-box">
                        <label>Matricule Fiscale:</label>
                        <div class="input-container">
                            <p>{{ company.taxId }}</p>
                        </div>
                    </div>
                    <div class="input-box">
                        <label>Email :</label>
                        <div class="input-container">
                            <p>{{ company.email }}</p>
                        </div>
                    </div>
                    <div class="register">
                        <p><a href="edit-company-profile">Modifier données personnelles</a></p>
                    </div>
                    <div class="register">
                        <p><a href="#">Modifier mot de passe</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </main>
    <!-- MAIN -->
  </section>
  <!-- CONTENT -->
</body>
</html>