<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<!-- Boxicons -->
	<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
	<link href='https://unpkg.com/boxicons@2.1.4/dist/boxicons.js' rel='stylesheet'>

	<!-- My CSS -->

	<title>AdminHub</title>
</head>
<body>
	<!-- SIDEBAR -->
	<section id="sidebar">
		<a  class="brand">
			<i class='bx bxs-smile  bx-lg'></i>
			<span class="text">SuperAdmin</span>
		</a>
		<ul class="side-menu top">
			<li [class.active]="currentRoute === '/superadmin-dashboard'">
				<a routerLink="/superadmin-dashboard">
					<i class='bx bxs-dashboard bx-sm' ></i>
					<span class="text">Tableau de bord</span>
				</a>
			</li>
			<li [class.active]="currentRoute === '/compagnie' " >
				<a routerLink="/compagnies">
					<i class='bx bxs-shopping-bag-alt bx-sm' ></i>
					<span class="text">Compagnies</span>
				</a>
			</li>


		</ul>
		<ul class="side-menu bottom">
			<li [class.active]="currentRoute === '/profil'">
				<a routerLink="/profil">
					<i class='bx bxs-cog bx-sm bx-spin-hover' ></i>
					<span class="text">Paramètres</span>
				</a>
			</li>
			<li>
				<a href="#" class="logout">
					<i class='bx bx-power-off bx-sm bx-burst-hover' ></i>
					<span class="text">Déconnexion</span>
				</a>
			</li>
		</ul>
	</section>
	<!-- SIDEBAR -->



	<!-- CONTENT -->
	<section id="content">
		<!-- NAVBAR -->
   <nav>
    <i class='bx bx-menu bx-sm' ></i>
    <form action="#">
        <div class="form-input">
        </div>
    </form>
    <input type="checkbox" class="checkbox" id="switch-mode" hidden />
    <label class="swith-lm" for="switch-mode">
        <i class="bx bxs-moon"></i>
        <i class="bx bx-sun"></i>
        <div class="ball"></div>
    </label>

    <!-- Notification Bell -->
	<a href="javascript:void(0)" class="notification" id="notificationIcon">
		<i class='bx bxs-bell bx-tada-hover'></i>
	</a>


    <!-- Profile Menu -->
	<a href="javascript:void(0)" class="profile" id="profileIcon">
        <img src="https://cdn-icons-png.freepik.com/512/4159/4159471.png" alt="Profile">
    </a>
    <div class="profile-menu" id="profileMenu">
        <ul>
            <li><a routerLink="/profil">Paramètres</a></li>
            <li><a (click)="logout()">Déconnexion</a></li>
        </ul>
    </div>
</nav>
<!-- NAVBAR -->
		<!-- MAIN -->
		<main>
			<div class="head-title">
				<div class="left">
					<h1>Paramètres</h1>
					<ul class="breadcrumb">
						<li>
							<a routerLink="/superadmin-dashboard">Tableau de bord</a>
						</li>
						<li><i class='bx bx-chevron-right'></i></li>
						<li>
							<a class="active" routerLink="/profil">Paramètres</a>
						</li>
					</ul>
				</div>
			</div>
		
			<div class="table-data">
				<div class="order">
					<div class="container">
						<h2>Modifier les données personnelles</h2>
						<!-- Message de succès -->
						<div *ngIf="successMessage" class="success-message">
							{{ successMessage }}
						</div>
						<form [formGroup]="editProfileForm" (ngSubmit)="onSubmit()">
							<div class="input-box">
								<label>Nom :</label>
								<div class="input-container">
									<input type="text" formControlName="name">
								</div>
							</div>
							<div class="input-box">
								<label>Email :</label>
								<div class="input-container">
									<input type="email" formControlName="email">
								</div>
							</div>
							<div class="btn-container">
								<button  type="submit" [disabled]="editProfileForm.invalid">Enregistrer</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</main>
		<!-- MAIN -->
	</section>
	<!-- CONTENT -->
	
<script src="script.js"></script>
</body>
</html>

