<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<!-- Boxicons -->
	<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
	<link href='https://unpkg.com/boxicons@2.1.4/dist/boxicons.js' rel='stylesheet'>

	<!-- My CSS -->

	<title>AdminHub</title>
</head>
<body>
	<!-- SIDEBAR -->
<app-shared-sidebar></app-shared-sidebar>
	<!-- SIDEBAR -->



	<!-- CONTENT -->
	<section id="content">
		<!-- NAVBAR -->

        <app-shared-navbar></app-shared-navbar>
<!-- NAVBAR -->
		<!-- MAIN -->
		<main>
			<div class="head-title">
				<div class="left">
					<h1>Paramètres</h1>
					<ul class="breadcrumb">
						<li>
							<a href="#">Tableau de bord</a>
						</li>
						<li><i class='bx bx-chevron-right'></i></li>
						<li>
							<a class="active" routerLink="/parametre">Paramètres</a>
						</li>
					</ul>
				</div>
			</div>
		
			<div class="table-data">
				<div class="order">
				  <div class="container">
					<h2>Modifier le mot de passe</h2>
					<form [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()">
					  <!-- Ancien mot de passe -->
					  <div class="input-box">
						<label>Ancien mot de passe :</label>
						<div class="input-container">
						  <input type="password" formControlName="oldPassword">
						</div>
					  </div>
			  
					  <!-- Nouveau mot de passe (affiché après vérification) -->
					  <div *ngIf="showNewPasswordFields" class="input-box">
						<label>Nouveau mot de passe :</label>
						<div class="input-container">
						  <input type="password" formControlName="newPassword">
						</div>
					  </div>
			  
					  <!-- Confirmer le nouveau mot de passe (affiché après vérification) -->
					  <div *ngIf="showNewPasswordFields" class="input-box">
						<label>Confirmer le nouveau mot de passe :</label>
						<div class="input-container">
						  <input type="password" formControlName="confirmNewPassword">
						</div>
					  </div>
			  
					  <!-- Boutons -->
					  <div class="btn-container">
						<button type="button" (click)="checkOldPassword()" *ngIf="!showNewPasswordFields">Vérifier</button>
						<button type="submit" [disabled]="changePasswordForm.invalid" *ngIf="showNewPasswordFields">Enregistrer</button>
					  </div>
					</form>
				  </div>
				</div>
			</div>
		</main>
		<!-- MAIN -->
	</section>
	<!-- CONTENT -->
	
<script src="script.js"></script>
</body>
</html>

