<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<!-- Boxicons -->
	<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
	<link href='https://unpkg.com/boxicons@2.1.4/dist/boxicons.js' rel='stylesheet'>

	<!-- My CSS -->
	<link rel="stylesheet" href="style.css">

	<title>AdminHub</title>
</head>
<body>
	<!-- SIDEBAR -->
	<section id="sidebar">
		<a  class="brand">
			<i class='bx bxs-smile  bx-lg'></i>
			<span class="text">SuperAdmin</span>
		</a>
		<ul class="side-menu top">
			<li [class.active]="currentRoute === '/superadmin-dashboard'">
				<a routerLink="/superadmin-dashboard">
					<i class='bx bxs-dashboard bx-sm' ></i>
					<span class="text">Tableau de bord</span>
				</a>
			</li>
			<li [class.active]="currentRoute === '/admins' " >
				<a routerLink="/admins">
					<i class='bx bxs-group bx-sm' ></i>
					<span class="text">Admins</span>
				</a>
			</li>
			<li [class.active]="currentRoute === '/compagnie' " >
				<a routerLink="/compagnies">
					<i class='bx bxs-shopping-bag-alt bx-sm' ></i>
					<span class="text">Compagnies</span>
				</a>
			</li>


		</ul>
		<ul class="side-menu bottom">
			<li [class.active]="currentRoute === '/profil'">
				<a routerLink="/profil">
					<i class='bx bxs-cog bx-sm bx-spin-hover' ></i>
					<span class="text">Paramètres</span>
				</a>
			</li>
			<li>
				<a href="#" class="logout">
					<i class='bx bx-power-off bx-sm bx-burst-hover' ></i>
					<span class="text">Déconnexion</span>
				</a>
			</li>
		</ul>
	</section>
	<!-- SIDEBAR -->



	<!-- CONTENT -->
	<section id="content">
		<!-- NAVBAR -->
   <nav>
    <i class='bx bx-menu bx-sm' ></i>
    <a href="#" class="nav-link">Categories</a>
    <form action="#">
        <div class="form-input">
            <input type="search" placeholder="Recherche...">
            <button type="submit" class="search-btn"><i class='bx bx-search' ></i></button>
        </div>
    </form>
    <input type="checkbox" class="checkbox" id="switch-mode" hidden />
    <label class="swith-lm" for="switch-mode">
        <i class="bx bxs-moon"></i>
        <i class="bx bx-sun"></i>
        <div class="ball"></div>
    </label>

    <!-- Notification Bell -->
	<a href="javascript:void(0)" class="notification" id="notificationIcon">
		<i class='bx bxs-bell bx-tada-hover'></i>
		<span class="num">8</span>
	</a>
    <div class="notification-menu" id="notificationMenu">
        <ul>
            <li>New message from John</li>
            <li>Your order has been shipped</li>
            <li>New comment on your post</li>
            <li>Update available for your app</li>
            <li>Reminder: Meeting at 3PM</li>
        </ul>
    </div>

    <!-- Profile Menu -->
	<a href="javascript:void(0)" class="profile" id="profileIcon">
        <img src="https://cdn-icons-png.freepik.com/512/4159/4159471.png" alt="Profile">
    </a>
    <div class="profile-menu" id="profileMenu">
        <ul>
            <li><a href="#">Mon Profil</a></li>
            <li><a href="#">Paramètres</a></li>
            <li><a href="#">Déconnexion</a></li>
        </ul>
    </div>
</nav>
<!-- NAVBAR -->
		<!-- MAIN -->
    <main>
        <div class="head-title">
            <div class="left">
                <h1>Admins</h1>
                <ul class="breadcrumb">
                    <li>
                        <a href="#">Tableau de bord</a>
                    </li>
                    <li><i class='bx bx-chevron-right' ></i></li>
                    <li>
                        <a class="active" href="#">Admins</a>
                    </li>
                </ul>
            </div>
            <a href="#" class="btn-download">
                <i class='bx bxs-cloud-download bx-fade-down-hover' ></i>
                <span class="text">Get PDF</span>
            </a>
        </div>

    </main>
		<!-- MAIN -->
	</section>
	<!-- CONTENT -->
	
<script src="script.js"></script>
</body>
</html>