<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
  <title>AdminHub</title>
</head>
<body>
  <app-shared-sidebar></app-shared-sidebar>
  <section id="content">
    <app-shared-navbar></app-shared-navbar>

    <!-- MAIN -->
    <main>
      <div class="head-title">
        <div class="left">
          <h1>Tableau de bord</h1>
          <ul class="breadcrumb">
            <li>
              <a href="#">Tableau de bord</a>
            </li>
            <li><i class='bx bx-chevron-right'></i></li>
            <li>
              <a class="active" href="users">Présence des utilisateurs</a>
            </li>
          </ul>
        </div>

      </div>

      <div class="table-data">
        <div class="order">

        </div>
      </div>
    </main>
    <!-- MAIN -->
  </section>
  <!-- CONTENT -->
</body>
</html>