<!-- pointage-employ.component.html -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
  <title>AdminHub</title>
</head>
<body>
  <app-shared-sidebar></app-shared-sidebar>
  <section id="content">
    <app-shared-navbar></app-shared-navbar>

    <!-- MAIN -->
    <main>
      <div class="head-title">
        <div class="left">
          <h1>Pointage via QR Code</h1>
          <ul class="breadcrumb">
            <li><a href="employee-dashboard">Tableau de bord</a></li>
            <li><i class='bx bx-chevron-right'></i></li>
            <li><a class="active" href="#">Pointage</a></li>
          </ul>
        </div>
      </div>

      <div class="table-data">
        <div class="order">
          <div class="container">
            <div class="head-title">
              <div class="left">
              </div>
            </div>

            <mat-tab-group>
                <!-- Onglet 1 : Obtenir QR Code -->
                <mat-tab label="📌 Obtenir Code QR">
                  <div class="tab-content">
                    <h2>Pointage QR Code</h2>
                    <button 
                    class="btn-primary"
                      (click)="getQrCodeAndSendEmail()"
                      [disabled]="loading">
                      <div *ngIf="!loading"
                      >+ Obtenir code QR</div>
                      <mat-spinner *ngIf="loading" diameter="20"></mat-spinner>
                    </button>
                  </div>
                </mat-tab>
              
                <!-- Onglet 2 : Scanner QR Code -->
                <mat-tab label="📋 Effectuer Pointage">
                  <div class="tab-content">
                    <h2>Effectuer pointage via votre code QR Code spécifique</h2>
                    <button 
                    class="btn-primary"
                    (click)="toggleScanner()"
                    [disabled]="loading">
                    {{ scannerEnabled ? 'Arrêter le scan' : 'Scanner QR Code' }}
                  </button>

                    <div *ngIf="scannerEnabled" class="scanner-container">
                      <zxing-scanner 
                      #scanner
                      [enable]="scannerEnabled"
                      (scanSuccess)="handleQrCodeResult($event)"
                      [autofocus]="true"
                      [device]="selectedDevice"
                      [formats]="formats">
                      </zxing-scanner>
                      
                      <div *ngIf="!hasPermission" class="permission-warning">
                        <p>Veuillez autoriser l'accès à la caméra</p>
                      </div>
                    </div>

                  </div>
                </mat-tab>

                <!-- Onglet 3 : Historique pointage QR code -->
                <mat-tab label="📅 Historique Mensuel">
                  <div class="tab-content">
                    <h2>Historique des pointages</h2>
                    <div class="filters-container">
                    <div class="filters">
                      <mat-form-field appearance="outline">
                        <mat-label><mat-icon>calendar_month</mat-icon> Mois</mat-label>
                        <mat-select [formControl]="monthControl">
                          <mat-option *ngFor="let month of months" [value]="month.value">
                            {{ month.name }}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                    
                      <mat-form-field appearance="outline">
                        <mat-label><mat-icon>calendar_today</mat-icon> Année</mat-label>
                        <mat-select [formControl]="yearControl">
                          <mat-option *ngFor="let year of years" [value]="year">
                            {{ year }}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>
                    </div>
                    <div class="pointage-history">
                      <div *ngIf="pointages.length === 0" class="empty-message">
                        <mat-icon>info</mat-icon>
                        <p>Vous n'avez aucun pointage enregistré pour la période sélectionnée</p>
                      </div>
                      <table *ngIf="pointages.length > 0">
                        <thead>
                          <tr>
                            <th>Date</th>
                            <th>Entrée</th>
                            <th>Sortie</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let pointage of pointages">
                            <td>{{ formatDate(pointage.date) }}</td>
                            <td>{{ pointage.entree || '-' }}</td>
                            <td>{{ pointage.sortie || '-' }}</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </mat-tab>
              </mat-tab-group>
           </div>
        </div>
      </div>
    </main>
  </section>
</body>
</html>