<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<!-- Boxicons -->
	<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
	<link href='https://unpkg.com/boxicons@2.1.4/dist/boxicons.js' rel='stylesheet'>

	<!-- My CSS -->
	<title>AdminHub</title>
</head>
<body>
	<app-shared-sidebar></app-shared-sidebar>
	<section id="content">

		<app-shared-navbar></app-shared-navbar>


		<!-- MAIN -->
		<main>
			<div class="head-title">
				<div class="left">
					<h1>Tableau de bord</h1>
					<ul class="breadcrumb">
						<li>
							<a href="#">Tableau de bord</a>
						</li>
						<li><i class='bx bx-chevron-right' ></i></li>
						<li>
							<a class="active" href="admin-dashboard">Accueil</a>
						</li>
					</ul>
				</div>
			</div>

			<ul class="box-info">
				<li>

					<i class='bx bxs-group' ></i>
					<span class="text">
						<h3>{{ employeeCount }}</h3>
						<p>Employés</p>
					</span>
				</li>
				<li>
					<i class='bx bxs-graduation'></i>					
					<span class="text">
						<h3>{{ internCount }}</h3>
						<p>Stagiaires</p>
					</span>
				</li>
				<li>
					<i class='bx bx-swim'></i>					
					<span class="text">
						<h3>{{ pendingCongesCount }}</h3>
						<p>Congés demandés</p>
					</span>
				</li>

				<li>
					<i class='bx bxs-briefcase'></i>					
					<span class="text">
						<h3>{{ jobOffersCount }}</h3>
						<p>Offres publiées</p>
					</span>
				</li>

				<li>
					<i class='bx bxs-calendar'></i>
					<span class="text">
						<h3>{{ internshipOffersCount }}</h3>
						<p>Offres de stage</p>
					</span>
				</li>



			</ul>


			<div class="table-data">
				<div class="order">


				</div>

			</div>
		</main>
		<!-- MAIN -->
	</section>
	<!-- CONTENT -->
	

	<script src="script.js"></script>
</body>
</html>
