<section id="sidebar">
    <a class="brand">
      <i class='bx bxs-smile bx-lg'></i>
      <span class="text">Espace Admin</span>
    </a>
    <ul class="side-menu top">
      <li routerLinkActive="active">
        <a routerLink="/admin-dashboard">
          <i class='bx bxs-dashboard bx-sm'></i>
          <span class="text">Tableau de bord</span>
        </a>
      </li>
      <li routerLinkActive="active">
        <a routerLink="/users">
          <i class='bx bxs-group bx-sm'></i>
          <span class="text">Utilisateurs</span>
        </a>
      </li>
      <li routerLinkActive="active">
        <a routerLink="/conges">
          <i class='bx bxs-calendar bx-sm'></i>
          <span class="text">Congés</span>
          <span *ngIf="pendingCongesCount > 0" class="notification">
            <span class="num">{{ pendingCongesCount }}</span>
          </span>
        </a>
      </li>
      <li routerLinkActive="active">
        <a routerLink="/document-requests">
          <i class='bx bxs-file-doc bx-sm'></i>
          <span class="text">Documents</span>
          <span *ngIf="pendingDocsCount > 0" class="notification">
            <span class="num">{{ pendingDocsCount }}</span>
          </span>
        </a>
      </li>
      <li routerLinkActive="active">
        <a routerLink="/offres-emploi">
          <i class='bx bxs-briefcase bx-sm'></i>
          <span class="text">Offres d'Emploi</span>
          <span *ngIf="pendingApplicationsCount > 0" class="notification">
            <span class="num">{{ pendingApplicationsCount }}</span>
          </span>
        </a>
      </li>
      <li routerLinkActive="active">
        <a routerLink="/offres-stage">
          <i class='bx bxs-graduation bx-sm'></i>
          <span class="text">Offres de Stage</span>
          <span *ngIf="pendingInternshipCount > 0" class="notification">
            <span class="num">{{ pendingInternshipCount }}</span>
          </span>

        </a>
      </li>
    </ul>
    <ul class="side-menu bottom">
      <li routerLinkActive="active">
        <a routerLink="/parametre">
          <i class='bx bxs-cog bx-sm bx-spin-hover'></i>
          <span class="text">Paramètres</span>
        </a>
      </li>
      <li>
        <a (click)="logout()" class="logout">
          <i class='bx bx-power-off bx-sm bx-burst-hover'></i>
          <span class="text">Déconnexion</span>
        </a>
      </li>
    </ul>
  </section>